<nav class="navbar">

    <div class="board p3 left bb">

        <div class="row">

            <div class="icon">
                <img src="{{ url_for('static', filename='icons/ui/menu.svg') }}" alt="menu" onclick="clickMenu()" class="navbar-toggle">
            </div>

            <div class="navbar-logo m3">
                {% include "components/logo.html" %}
            </div>

        </div>
        
    </div>
    
    <menu id="itensMenu" class="text-center pt1 pb1">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/usage">Usage</a></li>
            <li><a href="/icons">Icons</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </menu>
 
</nav>
